.container {
  height: calc(100vh - 45px);
}

.toolbar {
  height: 45px;
}

.sidenav-container {
  background-color:#847c7c;
  height: 100%;
}

.sidenav {
  background-color:#847c7c;
}

.list-item-color {
  color: whitesmoke;
}

.sidenav-content {
  background-image: url('../assets/images/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: whitesmoke;
}
