<div>
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button>
      <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
    </button>
    <h1>Forecast</h1>
  </mat-toolbar>
  <main class="container">
    <mat-sidenav-container autosize class="sidenav-container">
      <mat-sidenav mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()"
        class="sidenav ">
        <mat-nav-list *ngFor="let sideNavIcon of sideNavIcons">
          <mat-list-item class="list-item-color">
            <mat-icon mat-list-icon>{{sideNavIcon.icon}}</mat-icon>
            <span *ngIf="isExpanded || isShowing">{{sideNavIcon.title}}</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</div>
