.placeholder {
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.get-weather-button {
  margin-bottom: 20px;
  margin-left: 5px;
}

.image {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.card {
  width: 450px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.city {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.date {
  text-align: center;
  font-size: 15px;
}

.temperature {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}

.discription {
  font-size: 25px;
  text-align: center;
}

.temperature-button-toggle {
  height: 25px;
  align-items: center;
  font-size: 12px;
  margin-top: 12px;
}
