.placeholder {
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.get-weather-button {
  margin-bottom: 20px;
  margin-left: 5px;
}

.image {
  height: 50px;
  width: 50px;
}

.font-weight-500 {
  font-weight: 500;
}

.card {
  width: 450px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
